.payroll-nav-bg {
    background-color: #0D98BA;
}

.payroll-mobile-link {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
    text-decoration: none;
    display: block;
    padding-left: 20px;
}

#project_1:hover, #project_2:hover, #project_3:hover, #project_4:hover {
    transition: 1s;
    transform : scale(1.07, 1.07);
}

.sidebar {
    position: fixed;
    height: 100%;
}

.sidebar-link {
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid 1px rgb(108, 117, 125);
    color: rgb(108, 117, 125);
    text-decoration: none;
    display: block;
    padding-left: 20px;
}
.sidebar-link:hover {
    border: solid 1px #fff;
}
.sidebar-link:hover, .selected-link {
    background-color: rgb(108, 117, 125);
    color: #fff;
}
.main {
    justify-content: center;
    width: 83%;
    margin-left: 17%;
}
.sidebar {
    border-right: solid 1px rgb(108, 117, 125);
    width: 17%;
}

@media (max-width: 600px) {
    .main {
        position: relative;
        width: 100%;
        margin-left: 0;
    }
    .sidebar {
        display: none;
    }
    .sidebar-link {
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }
}